.loading-overlay {
    position: fixed;
    top: 0;
    z-index: 2000;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.spinner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}